Repository monacodelisa/Angular-Headless-Hashnode, pull requests merged in 2024-02, with the labels that each got.

#104 removed all the template html
  angular-v16-AnguMAT/src/app/app.component.html
  angular-v16-PrimeNG/src/app/app.component.html
Labels: enhancement

#107 feat(routing): angular v16 native
  angular-v16/src/app/app-routing.module.ts
  angular-v16/src/app/app.component.html
  angular-v16/src/app/app.module.ts
Labels: no UI lib, routing

#110 feat(post): single post routing, matching by slug as per Hashnode setup
  angular-v16/src/app/app-routing.module.ts
  angular-v16/src/app/app.module.ts
  angular-v16/src/app/components/header/header.component.ts
  angular-v16/src/app/components/post/post.component.html
  angular-v16/src/app/components/post/post.component.scss
  angular-v16/src/app/components/post/post.component.spec.ts
  angular-v16/src/app/components/post/post.component.ts
  angular-v16/src/app/components/posts/posts.component.html
  angular-v16/src/app/components/posts/posts.component.scss
  angular-v16/src/app/components/posts/posts.component.ts
  angular-v16/src/app/components/single-post/single-post.component.html
  angular-v16/src/app/components/single-post/single-post.component.scss
  angular-v16/src/app/components/single-post/single-post.component.spec.ts
  angular-v16/src/app/components/single-post/single-post.component.ts
  angular-v16/src/app/graphql.operations.ts
  angular-v16/src/app/services/blog.service.ts
Labels: GraphGL, no UI lib, routing, apollo angular

#112 feat(header, posts): home redirect, styling for list layout
  angular-v16/src/app/components/header/header.component.html
  angular-v16/src/app/components/header/header.component.scss
  angular-v16/src/app/components/posts/posts.component.html
  angular-v16/src/app/components/posts/posts.component.scss
  angular-v16/src/app/components/single-post/single-post.component.scss
  angular-v16/src/styles.scss
Labels: no UI lib

#113 feat(post): basic styling and layout of single post
  angular-v16/src/app/components/post/post.component.html
  angular-v16/src/app/components/post/post.component.scss
  angular-v16/src/app/components/post/post.component.ts
Labels: no UI lib

#115 feat(angular v17): angular version 17 set with primeng
  angular-v17-PrimeNG/.editorconfig
  angular-v17-PrimeNG/.gitignore
  angular-v17-PrimeNG/.vscode/extensions.json
  angular-v17-PrimeNG/.vscode/launch.json
  angular-v17-PrimeNG/.vscode/tasks.json
  angular-v17-PrimeNG/README.md
  angular-v17-PrimeNG/angular.json
  angular-v17-PrimeNG/package-lock.json
  angular-v17-PrimeNG/package.json
  angular-v17-PrimeNG/server.ts
  angular-v17-PrimeNG/src/app/app.component.html
  angular-v17-PrimeNG/src/app/app.component.scss
  angular-v17-PrimeNG/src/app/app.component.spec.ts
  angular-v17-PrimeNG/src/app/app.component.ts
  angular-v17-PrimeNG/src/app/app.config.server.ts
  angular-v17-PrimeNG/src/app/app.config.ts
  angular-v17-PrimeNG/src/app/app.routes.ts
  angular-v17-PrimeNG/src/assets/.gitkeep
  angular-v17-PrimeNG/src/favicon.ico
  angular-v17-PrimeNG/src/index.html
  angular-v17-PrimeNG/src/main.server.ts
  angular-v17-PrimeNG/src/main.ts
  angular-v17-PrimeNG/src/styles.scss
  angular-v17-PrimeNG/tsconfig.app.json
  angular-v17-PrimeNG/tsconfig.json
  angular-v17-PrimeNG/tsconfig.spec.json
Labels: primeng, v17

#121 feat(angular v17 main site): project site main
  angular-hashnode/.editorconfig
  angular-hashnode/.gitignore
  angular-hashnode/.vscode/extensions.json
  angular-hashnode/.vscode/launch.json
  angular-hashnode/.vscode/tasks.json
  angular-hashnode/README.md
  angular-hashnode/angular.json
  angular-hashnode/package-lock.json
  angular-hashnode/package.json
  angular-hashnode/server.ts
  angular-hashnode/src/app/app.component.html
  angular-hashnode/src/app/app.component.scss
  angular-hashnode/src/app/app.component.spec.ts
  angular-hashnode/src/app/app.component.ts
  angular-hashnode/src/app/app.config.server.ts
  angular-hashnode/src/app/app.config.ts
  angular-hashnode/src/app/app.routes.ts
  angular-hashnode/src/app/components/footer/footer.component.html
  angular-hashnode/src/app/components/footer/footer.component.scss
  angular-hashnode/src/app/components/footer/footer.component.spec.ts
  angular-hashnode/src/app/components/footer/footer.component.ts
  angular-hashnode/src/app/components/home/home.component.html
  angular-hashnode/src/app/components/home/home.component.scss
  angular-hashnode/src/app/components/home/home.component.spec.ts
  angular-hashnode/src/app/components/home/home.component.ts
  angular-hashnode/src/assets/.gitkeep
  angular-hashnode/src/favicon.ico
  angular-hashnode/src/index.html
  angular-hashnode/src/main.server.ts
  angular-hashnode/src/main.ts
  angular-hashnode/src/styles.scss
  angular-hashnode/src/theme.scss
  angular-hashnode/tsconfig.app.json
  angular-hashnode/tsconfig.json
  angular-hashnode/tsconfig.spec.json
Labels: theming, angular material, signals, routing, v17, presentation site

#122 feat: added post detail page with api integration
  angular-v17/src/app/app.component.html
  angular-v17/src/app/app.component.ts
  angular-v17/src/app/app.config.ts
  angular-v17/src/app/app.routes.ts
  angular-v17/src/app/graphql.operations.ts
  angular-v17/src/app/pages/post-detail/post-detail.component.html
  angular-v17/src/app/pages/post-detail/post-detail.component.scss
  angular-v17/src/app/pages/post-detail/post-detail.component.spec.ts
  angular-v17/src/app/pages/post-detail/post-detail.component.ts
  angular-v17/src/app/pages/posts/posts.component.html
  angular-v17/src/app/pages/posts/posts.component.scss
  angular-v17/src/app/pages/posts/posts.component.spec.ts
  angular-v17/src/app/pages/posts/posts.component.ts
  angular-v17/src/app/services/blog.service.ts
  angular-v17/src/app/types/post.type.ts
  angular-v17/src/styles.scss
Labels: GraphGL, v17, apollo angular

#123 feat(readme): animated gif added
  README.md
  angular-hashnode/src/assets/animation/merge-animation.gif
  angular-hashnode/src/assets/animation/merge-animation.mp4
Labels: presentation site

#125 Presentation Site
  angular-hashnode/src/app/app.component.ts
  angular-hashnode/src/app/app.routes.ts
  angular-hashnode/src/app/components/contact/contact.component.html
  angular-hashnode/src/app/components/contact/contact.component.scss
  angular-hashnode/src/app/components/contact/contact.component.spec.ts
  angular-hashnode/src/app/components/contact/contact.component.ts
  angular-hashnode/src/app/components/contribute/contribute.component.html
  angular-hashnode/src/app/components/contribute/contribute.component.scss
  angular-hashnode/src/app/components/contribute/contribute.component.spec.ts
  angular-hashnode/src/app/components/contribute/contribute.component.ts
  angular-hashnode/src/app/components/demos/demos.component.html
  angular-hashnode/src/app/components/demos/demos.component.scss
  angular-hashnode/src/app/components/demos/demos.component.ts
  angular-hashnode/src/app/components/home/home.component.scss
  angular-hashnode/src/app/components/use/use.component.html
  angular-hashnode/src/app/components/use/use.component.scss
  angular-hashnode/src/app/components/use/use.component.spec.ts
  angular-hashnode/src/app/components/use/use.component.ts
  angular-hashnode/src/assets/icons/angular-new.png
  angular-hashnode/src/assets/icons/angular.png
  angular-hashnode/src/assets/images/angular-v16-dark-hashnode.jpg
  angular-hashnode/src/assets/images/angular-v16-light-hashnode.jpg
  angular-hashnode/src/styles.scss
  angular-hashnode/src/theme.scss
Labels: presentation site

#127 feat(angular-v16-AnguMAT):preparing for deployment
  angular-v16-AnguMAT/.gitignore
  angular-v16-AnguMAT/angular.json
  angular-v16-AnguMAT/dist/3rdpartylicenses.txt
  angular-v16-AnguMAT/dist/favicon.ico
  angular-v16-AnguMAT/dist/index.html
  angular-v16-AnguMAT/dist/main.573cb28227a7e149.js
  angular-v16-AnguMAT/dist/polyfills.d0925e9e93b2026c.js
  angular-v16-AnguMAT/dist/runtime.4086a6d08c32d5cb.js
  angular-v16-AnguMAT/dist/styles.6096240164c51dc3.css
  angular-v16-AnguMAT/netlify.toml
  angular-v16-AnguMAT/package.json
Labels: deployment, angular material, v16

#129 feat(angular-v16-PrimeNG):preparing for deployment
  angular-hashnode/src/assets/images/angular-hashnode-contribute-sign.jpg
  angular-v16-AnguMAT/src/app/app.component.html
  angular-v16-AnguMAT/src/assets/images/angular-hashnode-contribute-sign.jpg
  angular-v16-AnguMAT/src/styles.scss
  angular-v16-PrimeNG/.gitignore
  angular-v16-PrimeNG/angular.json
  angular-v16-PrimeNG/dist/3rdpartylicenses.txt
  angular-v16-PrimeNG/dist/Inter-italic.var.958a0b9742fb3ae8.woff2
  angular-v16-PrimeNG/dist/Inter-roman.var.b2129c009ce46d43.woff2
  angular-v16-PrimeNG/dist/color.dae87a04d07ca92b.png
  angular-v16-PrimeNG/dist/favicon.ico
  angular-v16-PrimeNG/dist/hue.8b1818380241e6ac.png
  angular-v16-PrimeNG/dist/index.html
  angular-v16-PrimeNG/dist/main.b80bb739ee84b3a7.js
  angular-v16-PrimeNG/dist/polyfills.478de331231ebd21.js
  angular-v16-PrimeNG/dist/primeicons.0112589c5695a9ed.ttf
  angular-v16-PrimeNG/dist/primeicons.943ab24c43224d29.svg
  angular-v16-PrimeNG/dist/primeicons.ba3f916dfb64be8c.woff2
  angular-v16-PrimeNG/dist/primeicons.f8b9e8a4e401b603.woff
  angular-v16-PrimeNG/dist/primeicons.ffecb2549ad1765a.eot
  angular-v16-PrimeNG/dist/runtime.0a900bfd0c85f407.js
  angular-v16-PrimeNG/dist/styles.08a84cf546b2a758.css
  angular-v16-PrimeNG/netlify.toml
  angular-v16-PrimeNG/package.json
  angular-v16-PrimeNG/src/app/app.component.html
  angular-v16-PrimeNG/src/assets/images/angular-hashnode-contribute-sign.jpg
  angular-v16-PrimeNG/src/styles.scss
Labels: deployment, primeng, v16

#132 Main
  angular-hashnode/.gitignore
  angular-hashnode/angular.json
  angular-hashnode/dist/3rdpartylicenses.txt
  angular-hashnode/dist/browser/assets/JSON/features.json
  angular-hashnode/dist/browser/assets/JSON/goals.json
  angular-hashnode/dist/browser/assets/JSON/live-sites-16.json
  angular-hashnode/dist/browser/assets/JSON/live-sites-17.json
  angular-hashnode/dist/browser/assets/animation/merge-animation.gif
  angular-hashnode/dist/browser/assets/animation/merge-animation.mp4
  angular-hashnode/dist/browser/assets/icons/angular-new.png
  angular-hashnode/dist/browser/assets/icons/angular.png
  angular-hashnode/dist/browser/assets/images/angular-hashnode-animation-thumb.jpg
  angular-hashnode/dist/browser/assets/images/angular-hashnode-contribute-sign.jpg
  angular-hashnode/dist/browser/assets/images/angular-headless-hashnode-logo-tr.png
  angular-hashnode/dist/browser/assets/images/angular-v16-dark-hashnode.jpg
  angular-hashnode/dist/browser/assets/images/angular-v16-light-hashnode.jpg
  angular-hashnode/dist/browser/assets/images/angular-v17-dark-hashnode.jpg
  angular-hashnode/dist/browser/assets/images/angular-v17-light-hashnode.jpg
  angular-hashnode/dist/browser/chunk-L57UY5ID.js
  angular-hashnode/dist/browser/chunk-SAC2FNWE.js
  angular-hashnode/dist/browser/contact/index.html
  angular-hashnode/dist/browser/contribute/index.html
  angular-hashnode/dist/browser/demos/index.html
  angular-hashnode/dist/browser/favicon.ico
  angular-hashnode/dist/browser/home/index.html
  angular-hashnode/dist/browser/index.html
  angular-hashnode/dist/browser/main-YJVN2T6S.js
  angular-hashnode/dist/browser/polyfills-RT5I6R6G.js
  angular-hashnode/dist/browser/styles-GVIFDE3E.css
  angular-hashnode/dist/browser/use/index.html
  angular-hashnode/dist/prerendered-routes.json
  angular-hashnode/dist/server/chunk-DI4DTJFX.mjs
  angular-hashnode/dist/server/chunk-HZCCQT6O.mjs
  angular-hashnode/dist/server/chunk-IO4BWRCN.mjs
  angular-hashnode/dist/server/chunk-O73ZHKXN.mjs
  angular-hashnode/dist/server/chunk-UN4CAYFG.mjs
  angular-hashnode/dist/server/chunk-VVCT4QZE.mjs
  angular-hashnode/dist/server/index.server.html
  angular-hashnode/dist/server/main.server.mjs
  angular-hashnode/dist/server/polyfills.server.mjs
  angular-hashnode/dist/server/render-utils.server.mjs
  angular-hashnode/dist/server/server.mjs
  angular-hashnode/netlify.toml
  angular-hashnode/package.json
  angular-hashnode/src/app/components/demos/demos.component.html
  angular-hashnode/src/app/components/demos/demos.component.scss
  angular-hashnode/src/app/components/demos/demos.component.ts
  angular-hashnode/src/app/components/footer/footer.component.html
  angular-hashnode/src/app/components/footer/footer.component.scss
  angular-hashnode/src/app/models/live-site.ts
  angular-hashnode/src/assets/JSON/live-sites-16.json
  angular-hashnode/src/assets/JSON/live-sites-17.json
  angular-hashnode/src/assets/images/angular-v17-dark-hashnode.jpg
  angular-hashnode/src/assets/images/angular-v17-light-hashnode.jpg
  angular-hashnode/src/theme.scss
Labels: deployment, v17, presentation site

#134 fix(toolbar height): presentation site
  angular-hashnode/src/app/app.component.scss
Labels: bug, angular material, v17, presentation site

#138 feat(presentation site): og image for social share
  angular-hashnode/src/index.html
Labels: images, angular material, v17, presentation site

#140 feat(angular-v17-angumat): angular v17app created with basic layout components
  angular-v17-AnguMAT/.editorconfig
  angular-v17-AnguMAT/.gitignore
  angular-v17-AnguMAT/.vscode/extensions.json
  angular-v17-AnguMAT/.vscode/launch.json
  angular-v17-AnguMAT/.vscode/tasks.json
  angular-v17-AnguMAT/README.md
  angular-v17-AnguMAT/angular.json
  angular-v17-AnguMAT/package-lock.json
  angular-v17-AnguMAT/package.json
  angular-v17-AnguMAT/server.ts
  angular-v17-AnguMAT/src/app/app.component.html
  angular-v17-AnguMAT/src/app/app.component.scss
  angular-v17-AnguMAT/src/app/app.component.spec.ts
  angular-v17-AnguMAT/src/app/app.component.ts
  angular-v17-AnguMAT/src/app/app.config.server.ts
  angular-v17-AnguMAT/src/app/app.config.ts
  angular-v17-AnguMAT/src/app/app.routes.ts
  angular-v17-AnguMAT/src/app/components/footer/footer.component.html
  angular-v17-AnguMAT/src/app/components/footer/footer.component.scss
  angular-v17-AnguMAT/src/app/components/footer/footer.component.spec.ts
  angular-v17-AnguMAT/src/app/components/footer/footer.component.ts
  angular-v17-AnguMAT/src/app/components/header/header.component.html
  angular-v17-AnguMAT/src/app/components/header/header.component.scss
  angular-v17-AnguMAT/src/app/components/header/header.component.spec.ts
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/assets/.gitkeep
  angular-v17-AnguMAT/src/favicon.ico
  angular-v17-AnguMAT/src/index.html
  angular-v17-AnguMAT/src/main.server.ts
  angular-v17-AnguMAT/src/main.ts
  angular-v17-AnguMAT/src/styles.scss
  angular-v17-AnguMAT/tsconfig.app.json
  angular-v17-AnguMAT/tsconfig.json
  angular-v17-AnguMAT/tsconfig.spec.json
Labels: angular material, v17

#141 docs(redme): templates and more
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: documentation

#142 Main
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: documentation

#143 docs(issues): templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#145 added themeToggle functionality.
  angular-v17-AnguMAT/angular.json
  angular-v17-AnguMAT/src/app/app.component.html
  angular-v17-AnguMAT/src/app/app.component.scss
  angular-v17-AnguMAT/src/app/app.component.ts
  angular-v17-AnguMAT/src/app/app.config.ts
  angular-v17-AnguMAT/src/app/components/header/header.component.html
  angular-v17-AnguMAT/src/app/components/header/header.component.scss
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/app/services/theme.service.spec.ts
  angular-v17-AnguMAT/src/app/services/theme.service.ts
  angular-v17-AnguMAT/src/styles.scss
  angular-v17-AnguMAT/src/theme.scss
Labels: theming

#149 feat(angular-v16-angumat): header footer layout
  angular-v16-AnguMAT/src/app/app.component.html
  angular-v16-AnguMAT/src/app/app.component.scss
  angular-v16-AnguMAT/src/app/app.module.ts
  angular-v16-AnguMAT/src/app/components/footer/footer.component.html
  angular-v16-AnguMAT/src/app/components/footer/footer.component.scss
  angular-v16-AnguMAT/src/app/components/footer/footer.component.spec.ts
  angular-v16-AnguMAT/src/app/components/footer/footer.component.ts
  angular-v16-AnguMAT/src/app/components/header/header.component.html
  angular-v16-AnguMAT/src/app/components/header/header.component.scss
  angular-v16-AnguMAT/src/app/components/header/header.component.spec.ts
  angular-v16-AnguMAT/src/app/components/header/header.component.ts
  angular-v16-AnguMAT/src/assets/images/angular-headless-hashnode-logo.jpg
  angular-v16-AnguMAT/src/index.html
  angular-v16-AnguMAT/src/styles.scss
  angular-v17-AnguMAT/src/app/app.component.ts
  angular-v17-AnguMAT/src/app/app.config.ts
Labels: angular material, v16

#150 feat(theme): angular-v16-angumat theme switching with signals
  angular-v16-AnguMAT/src/app/app.component.html
  angular-v16-AnguMAT/src/app/app.component.scss
  angular-v16-AnguMAT/src/app/app.component.ts
  angular-v16-AnguMAT/src/app/components/header/header.component.html
  angular-v16-AnguMAT/src/app/components/header/header.component.scss
  angular-v16-AnguMAT/src/app/components/header/header.component.ts
  angular-v16-AnguMAT/src/app/services/theme.service.spec.ts
  angular-v16-AnguMAT/src/app/services/theme.service.ts
  angular-v16-AnguMAT/src/favicon.ico
  angular-v16-AnguMAT/src/styles.scss
  angular-v16-AnguMAT/src/theme.scss
Labels: theming, angular material, signals, v16

#153 feat(deployment): angular-v17-angumat prepared for netlify
  angular-v17-AnguMAT/.gitignore
  angular-v17-AnguMAT/angular.json
  angular-v17-AnguMAT/dist/3rdpartylicenses.txt
  angular-v17-AnguMAT/dist/browser/chunk-MKLO7B6G.js
  angular-v17-AnguMAT/dist/browser/chunk-RZOZHUNL.js
  angular-v17-AnguMAT/dist/browser/favicon.ico
  angular-v17-AnguMAT/dist/browser/index.html
  angular-v17-AnguMAT/dist/browser/main-SWXRBUIO.js
  angular-v17-AnguMAT/dist/browser/polyfills-RT5I6R6G.js
  angular-v17-AnguMAT/dist/browser/styles-PCDDKYAG.css
  angular-v17-AnguMAT/dist/prerendered-routes.json
  angular-v17-AnguMAT/dist/server/chunk-54RROV4A.mjs
  angular-v17-AnguMAT/dist/server/chunk-O73ZHKXN.mjs
  angular-v17-AnguMAT/dist/server/chunk-QCBUDCNQ.mjs
  angular-v17-AnguMAT/dist/server/chunk-VVCT4QZE.mjs
  angular-v17-AnguMAT/dist/server/chunk-XWQG4FDH.mjs
  angular-v17-AnguMAT/dist/server/chunk-Z5LRNESP.mjs
  angular-v17-AnguMAT/dist/server/index.server.html
  angular-v17-AnguMAT/dist/server/main.server.mjs
  angular-v17-AnguMAT/dist/server/polyfills.server.mjs
  angular-v17-AnguMAT/dist/server/render-utils.server.mjs
  angular-v17-AnguMAT/dist/server/server.mjs
  angular-v17-AnguMAT/netlify.toml
  angular-v17-AnguMAT/package.json
Labels: angular material, v17

#154 feat(deployment): angular-v17-primeng prepared for netlify
  angular-v17-PrimeNG/.gitignore
  angular-v17-PrimeNG/angular.json
  angular-v17-PrimeNG/dist/3rdpartylicenses.txt
  angular-v17-PrimeNG/dist/browser/assets/images/angular-headless-hashnode-logo.jpg
  angular-v17-PrimeNG/dist/browser/favicon.ico
  angular-v17-PrimeNG/dist/browser/index.html
  angular-v17-PrimeNG/dist/browser/main-NHZ4RMZ7.js
  angular-v17-PrimeNG/dist/browser/media/Inter-italic.var-SWFAXF2C.woff2
  angular-v17-PrimeNG/dist/browser/media/Inter-roman.var-WIJJYAE4.woff2
  angular-v17-PrimeNG/dist/browser/media/color-3LUHUBGQ.png
  angular-v17-PrimeNG/dist/browser/media/hue-RMMBQOAC.png
  angular-v17-PrimeNG/dist/browser/media/primeicons-77WLEVE2.eot
  angular-v17-PrimeNG/dist/browser/media/primeicons-7C46RJHE.woff
  angular-v17-PrimeNG/dist/browser/media/primeicons-AEJFRHCW.ttf
  angular-v17-PrimeNG/dist/browser/media/primeicons-SQ5LETCD.svg
  angular-v17-PrimeNG/dist/browser/media/primeicons-XI7ZC3P3.woff2
  angular-v17-PrimeNG/dist/browser/polyfills-RT5I6R6G.js
  angular-v17-PrimeNG/dist/browser/styles-IYO4AA6T.css
  angular-v17-PrimeNG/dist/prerendered-routes.json
  angular-v17-PrimeNG/dist/server/chunk-J65WZKML.mjs
  angular-v17-PrimeNG/dist/server/chunk-O73ZHKXN.mjs
  angular-v17-PrimeNG/dist/server/chunk-VVCT4QZE.mjs
  angular-v17-PrimeNG/dist/server/chunk-X2NXM42Z.mjs
  angular-v17-PrimeNG/dist/server/index.server.html
  angular-v17-PrimeNG/dist/server/main.server.mjs
  angular-v17-PrimeNG/dist/server/polyfills.server.mjs
  angular-v17-PrimeNG/dist/server/render-utils.server.mjs
  angular-v17-PrimeNG/dist/server/server.mjs
  angular-v17-PrimeNG/netlify.toml
  angular-v17-PrimeNG/package.json
Labels: deployment, primeng, v17

#157 feat(angular-v16): ignore other builds
  angular-v16/netlify.toml
Labels: deployment

#158 feat(angular-v16): ignore other builds
  angular-v16/netlify.toml
Labels: deployment

#159 feat(angular-v16): ignore other builds
  angular-v16/netlify.toml
Labels: deployment

#160 feat(presentation site): links to v17 sites
  angular-hashnode/src/assets/JSON/live-sites-17.json
  angular-v16/netlify.toml
Labels: v17, presentation site

#174 feat(angular-v17-primeng): added elements and styled footer component
  angular-v17-PrimeNG/package-lock.json
  angular-v17-PrimeNG/package.json
  angular-v17-PrimeNG/src/app/app.config.ts
  angular-v17-PrimeNG/src/app/components/footer/footer.component.html
  angular-v17-PrimeNG/src/app/components/footer/footer.component.scss
  angular-v17-PrimeNG/src/app/components/footer/footer.component.ts
  angular-v17-PrimeNG/src/app/graphql.operations.ts
  angular-v17-PrimeNG/src/app/services/blog.service.spec.ts
  angular-v17-PrimeNG/src/app/services/blog.service.ts
Labels: 🧩 primeng, 🅰️ v17

#176 feat(header): social links blog title v17-primeNG
  .github/PULL_REQUEST_TEMPLATE.md
  angular-v17-PrimeNG/src/app/app.component.html
  angular-v17-PrimeNG/src/app/app.component.scss
  angular-v17-PrimeNG/src/app/components/footer/footer.component.html
  angular-v17-PrimeNG/src/app/components/footer/footer.component.scss
  angular-v17-PrimeNG/src/app/components/footer/footer.component.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.html
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/models/social-links.ts
  angular-v17-PrimeNG/src/styles.scss
Labels: 🧩 primeng, 🅰️ v17

#185 docs(update): pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🗎 documentation

#179 add footer component.
  angular-v17-AnguMAT/src/app/components/footer/footer.component.html
  angular-v17-AnguMAT/src/app/components/footer/footer.component.scss
  angular-v17-AnguMAT/src/app/components/footer/footer.component.ts
Labels: 🧩 angular material, 🅰️ v17

#186 social links and icons
  angular-v17-AnguMAT/angular.json
  angular-v17-AnguMAT/package-lock.json
  angular-v17-AnguMAT/package.json
Labels: 🧩 angular material, 🅰️ v17

#187 feat: Retrieve, style and display blog posts v17 Angular Material
  angular-v17-AnguMAT/package-lock.json
  angular-v17-AnguMAT/package.json
  angular-v17-AnguMAT/src/app/app.component.html
  angular-v17-AnguMAT/src/app/app.config.ts
  angular-v17-AnguMAT/src/app/app.routes.ts
  angular-v17-AnguMAT/src/app/components/header/header.component.scss
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/app/graphql.operations.ts
  angular-v17-AnguMAT/src/app/models/post.ts
  angular-v17-AnguMAT/src/app/models/social-links.ts
  angular-v17-AnguMAT/src/app/pages/post-detail/post-detail.component.html
  angular-v17-AnguMAT/src/app/pages/post-detail/post-detail.component.scss
  angular-v17-AnguMAT/src/app/pages/post-detail/post-detail.component.spec.ts
  angular-v17-AnguMAT/src/app/pages/post-detail/post-detail.component.ts
  angular-v17-AnguMAT/src/app/pages/posts/posts.component.html
  angular-v17-AnguMAT/src/app/pages/posts/posts.component.scss
  angular-v17-AnguMAT/src/app/pages/posts/posts.component.spec.ts
  angular-v17-AnguMAT/src/app/pages/posts/posts.component.ts
  angular-v17-AnguMAT/src/app/services/blog.service.spec.ts
  angular-v17-AnguMAT/src/app/services/blog.service.ts
Labels: 🧩 angular material, 🅰️ v17

#191 feat(angular-v17-modMAT): prepering for netlify
  angular-v17-AnguMAT/dist/3rdpartylicenses.txt
  angular-v17-AnguMAT/dist/browser/assets/images/angular-headless-hashnode-logo.jpg
  angular-v17-AnguMAT/dist/browser/chunk-CELZ3NNH.js
  angular-v17-AnguMAT/dist/browser/chunk-EZPOOJA5.js
  angular-v17-AnguMAT/dist/browser/chunk-JXXXQO7R.js
  angular-v17-AnguMAT/dist/browser/chunk-L3E2OLAC.js
  angular-v17-AnguMAT/dist/browser/chunk-MKLO7B6G.js
  angular-v17-AnguMAT/dist/browser/chunk-PDJYHOBO.js
  angular-v17-AnguMAT/dist/browser/chunk-RZOZHUNL.js
  angular-v17-AnguMAT/dist/browser/chunk-Z76P3FE4.js
  angular-v17-AnguMAT/dist/browser/chunk-ZXYBKZZK.js
  angular-v17-AnguMAT/dist/browser/favicon.ico
  angular-v17-AnguMAT/dist/browser/index.html
  angular-v17-AnguMAT/dist/browser/main-SWXRBUIO.js
  angular-v17-AnguMAT/dist/browser/main-V5JMYQSI.js
  angular-v17-AnguMAT/dist/browser/media/fa-brands-400-4RSXLDQT.woff2
  angular-v17-AnguMAT/dist/browser/media/fa-brands-400-RP3MZ4AX.ttf
  angular-v17-AnguMAT/dist/browser/media/fa-regular-400-6ODLNN6G.woff2
  angular-v17-AnguMAT/dist/browser/media/fa-regular-400-VE33OVPX.ttf
  angular-v17-AnguMAT/dist/browser/media/fa-solid-900-BALFL4QR.ttf
  angular-v17-AnguMAT/dist/browser/media/fa-solid-900-ZZETRIYD.woff2
  angular-v17-AnguMAT/dist/browser/media/fa-v4compatibility-5WGRUVBC.woff2
  angular-v17-AnguMAT/dist/browser/media/fa-v4compatibility-7DCIFHD7.ttf
  angular-v17-AnguMAT/dist/browser/styles-PCDDKYAG.css
  angular-v17-AnguMAT/dist/browser/styles-WWFC7SQW.css
  angular-v17-AnguMAT/dist/server/chunk-25CKIFGM.mjs
  angular-v17-AnguMAT/dist/server/chunk-36FYO6XR.mjs
  angular-v17-AnguMAT/dist/server/chunk-4MFFIMPC.mjs
  angular-v17-AnguMAT/dist/server/chunk-54RROV4A.mjs
  angular-v17-AnguMAT/dist/server/chunk-5BV57IXF.mjs
  angular-v17-AnguMAT/dist/server/chunk-77YBMC6U.mjs
  angular-v17-AnguMAT/dist/server/chunk-CSKTMY2N.mjs
  angular-v17-AnguMAT/dist/server/chunk-Q5XSRLOX.mjs
  angular-v17-AnguMAT/dist/server/chunk-QBWTLP3P.mjs
  angular-v17-AnguMAT/dist/server/chunk-QCBUDCNQ.mjs
  angular-v17-AnguMAT/dist/server/chunk-SV4MVBKF.mjs
  angular-v17-AnguMAT/dist/server/chunk-SY3FR42F.mjs
  angular-v17-AnguMAT/dist/server/chunk-XWQG4FDH.mjs
  angular-v17-AnguMAT/dist/server/chunk-XYZ4WWRD.mjs
  angular-v17-AnguMAT/dist/server/chunk-Z5LRNESP.mjs
  angular-v17-AnguMAT/dist/server/index.server.html
  angular-v17-AnguMAT/dist/server/main.server.mjs
  angular-v17-AnguMAT/dist/server/render-utils.server.mjs
  angular-v17-AnguMAT/dist/server/server.mjs
  angular-v17-modMAT/.gitignore
  angular-v17-modMAT/angular.json
  angular-v17-modMAT/netlify.toml
  angular-v17-modMAT/package.json
  assets/css/footer.component.css
  assets/css/styles.css
Labels: 🧩 angular material, 🅰️ v17, modules

#192 feat(angular-v17-modMAT): dist folder
  angular-v17-modMAT/dist/208.c828c9b87c5e285e.js
  angular-v17-modMAT/dist/3rdpartylicenses.txt
  angular-v17-modMAT/dist/assets/images/angular-headless-hashnode-logo.jpg
  angular-v17-modMAT/dist/favicon.ico
  angular-v17-modMAT/dist/index.html
  angular-v17-modMAT/dist/main.59d244446222c5b7.js
  angular-v17-modMAT/dist/polyfills.d5295a902810d31e.js
  angular-v17-modMAT/dist/runtime.68f9945832899f89.js
  angular-v17-modMAT/dist/styles.8b824abe104cbb0e.css
Labels: 🧩 angular material, ⬜ no UI lib, modules

#193 feat(angular-v17-modMAT): netlify.tom publish path
  angular-v17-modMAT/netlify.toml
Labels: 🧩 angular material, 🅰️ v17, modules

#199 Feature/theme switching
  angular-v17-PrimeNG/angular.json
  angular-v17-PrimeNG/src/app/app.component.spec.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.html
  angular-v17-PrimeNG/src/app/components/header/header.component.spec.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/services/theme.service.spec.ts
  angular-v17-PrimeNG/src/app/services/theme.service.ts
  angular-v17-PrimeNG/src/assets/themes/dark.scss
  angular-v17-PrimeNG/src/assets/themes/light.scss
  angular-v17-PrimeNG/src/index.html
Labels: ☯️ theming, 🧩 primeng, 🅰️ v17

#201 feat(angular-v17-AnguMAT): self hosted font awesome
  angular-v17-AnguMAT/src/app/components/header/header.component.html
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/assets/fontawesome/js/all.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/all.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/brands.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/brands.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/conflict-detection.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/conflict-detection.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/fontawesome.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/fontawesome.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/regular.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/regular.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/solid.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/solid.min.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/v4-shims.js
  angular-v17-AnguMAT/src/assets/fontawesome/js/v4-shims.min.js
  angular-v17-AnguMAT/src/index.html
Labels: 🧩 angular material, 🅰️ v17

#203 fix(angular-v17-AnguMAT): font awesome styling svg
  angular-v17-AnguMAT/src/app/components/header/header.component.scss
Labels: 🖼️ images, 🧩 angular material, 🅰️ v17

#219 doscs(readme): updated live sites info
  README.md
  angular-headless-hashnode-dark.jpg
  angular-headless-hashnode-light.jpg
Labels: 🗎 documentation

#220 doscs(readme): updated live sites info
  README.md
Labels: 🗎 documentation

#234 feature(#216): Query the actual series (topics) to display in header in v17 primeng
  angular-v17-PrimeNG/src/app/app.routes.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.html
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/components/series/series.component.html
  angular-v17-PrimeNG/src/app/components/series/series.component.scss
  angular-v17-PrimeNG/src/app/components/series/series.component.spec.ts
  angular-v17-PrimeNG/src/app/components/series/series.component.ts
  angular-v17-PrimeNG/src/app/graphql.operations.ts
  angular-v17-PrimeNG/src/app/models/series.ts
  angular-v17-PrimeNG/src/app/services/blog.service.ts
Labels: GraphGL, 🧩 primeng, 🅰️ v17, apollo angular

#236 feat(v17): standardizing, using models, observables
  angular-v17-PrimeNG/src/app/pages/post-detail/post-detail.component.ts
  angular-v17/src/app/components/header/header.component.html
  angular-v17/src/app/components/header/header.component.ts
  angular-v17/src/app/components/post-detail/post-detail.component.ts
  angular-v17/src/app/components/posts/posts.component.html
  angular-v17/src/app/components/posts/posts.component.ts
  angular-v17/src/app/models/blog-info.ts
  angular-v17/src/app/models/post.ts
  angular-v17/src/app/services/blog.service.ts
Labels: GraphGL, ⬜ no UI lib, apollo angular, 📁 file structure, RxJS

#243 feat(v17-modMAT):blog posts layout
  angular-v17-modMAT/src/app/app-routing.module.ts
  angular-v17-modMAT/src/app/app.component.scss
  angular-v17-modMAT/src/app/app.module.ts
  angular-v17-modMAT/src/app/components/header/header.component.ts
  angular-v17-modMAT/src/app/components/home/home.component.html
  angular-v17-modMAT/src/app/components/home/home.component.scss
  angular-v17-modMAT/src/app/components/home/home.component.ts
  angular-v17-modMAT/src/app/components/post-details/post-details.component.html
  angular-v17-modMAT/src/app/components/post-details/post-details.component.scss
  angular-v17-modMAT/src/app/components/post-details/post-details.component.spec.ts
  angular-v17-modMAT/src/app/components/post-details/post-details.component.ts
  angular-v17-modMAT/src/app/components/post/post.component.html
  angular-v17-modMAT/src/app/components/post/post.component.scss
  angular-v17-modMAT/src/app/components/post/post.component.ts
  angular-v17-modMAT/src/app/components/posts/posts.component.html
  angular-v17-modMAT/src/app/components/posts/posts.component.scss
  angular-v17-modMAT/src/app/components/posts/posts.component.spec.ts
  angular-v17-modMAT/src/app/components/posts/posts.component.ts
  angular-v17-modMAT/src/app/components/single-post/single-post.component.html
  angular-v17-modMAT/src/app/components/single-post/single-post.component.scss
  angular-v17-modMAT/src/app/components/single-post/single-post.component.spec.ts
  angular-v17-modMAT/src/app/components/single-post/single-post.component.ts
  angular-v17-modMAT/src/app/graphql.operations.ts
  angular-v17-modMAT/src/app/models/blog-info.ts
  angular-v17-modMAT/src/app/models/post.ts
  angular-v17-modMAT/src/app/services/blog.service.ts
  angular-v17-modMAT/src/theme.scss
Labels: 🧩 angular material, 🅰️ v17, modules, 🎨 styling

#244 feat(v17-modMAT): standardizing, using models, observables
  angular-v17-modMAT/src/app/components/post-details/post-details.component.html
  angular-v17-modMAT/src/app/components/post-details/post-details.component.scss
  angular-v17-modMAT/src/app/components/post-details/post-details.component.ts
  angular-v17-modMAT/src/app/components/posts/posts.component.scss
  angular-v17-modMAT/src/app/services/blog.service.ts
  angular-v17/src/app/app.component.ts
  angular-v17/src/app/app.routes.ts
  angular-v17/src/app/components/post-detail/post-detail.component.ts
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/app/components/post-details/post-details.component.spec.ts
  angular-v17/src/app/components/post-details/post-details.component.ts
  angular-v17/src/app/components/series/series.component.ts
Labels: ⬜ no UI lib, 🅰️ v17, modules, 📁 file structure

#246 fix(header-v17-modemat): home redirect link syntax
  angular-v17-modMAT/src/app/components/header/header.component.html
Labels: 🐛 bug, 🧩 angular material, modules

#250 feat(v17-modMAT): series list in header
  angular-v17-modMAT/src/app/components/header/header.component.html
  angular-v17-modMAT/src/app/components/header/header.component.ts
Labels: 🧩 angular material, modules

#267 feat(anguMAT): file structure
  angular-v17-AnguMAT/src/app/app.routes.ts
  angular-v17-AnguMAT/src/app/components/header/header.component.html
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.html
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.scss
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.spec.ts
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.ts
  angular-v17-AnguMAT/src/app/components/posts/posts.component.html
  angular-v17-AnguMAT/src/app/components/posts/posts.component.scss
  angular-v17-AnguMAT/src/app/components/posts/posts.component.spec.ts
  angular-v17-AnguMAT/src/app/components/posts/posts.component.ts
Labels: 🧩 angular material, 📁 file structure

#269 feat(angumat, modmat): post-details mat-icon for tags and scss
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.html
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.scss
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.ts
  angular-v17-AnguMAT/src/theme.scss
  angular-v17-modMAT/src/app/components/post-details/post-details.component.html
  angular-v17-modMAT/src/app/components/post-details/post-details.component.scss
  angular-v17-modMAT/src/theme.scss
Labels: 🧩 angular material, 🎨 styling

#271 feat(all apps): __typename in models social links adjustments font awesome
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.ts
  angular-v17-AnguMAT/src/app/models/blog-info.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/models/blog-info.ts
  angular-v17-modMAT/src/app/components/header/header.component.ts
  angular-v17-modMAT/src/app/models/blog-info.ts
  angular-v17-modMAT/src/assets/fontawesome/js/all.js
  angular-v17-modMAT/src/assets/fontawesome/js/all.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/brands.js
  angular-v17-modMAT/src/assets/fontawesome/js/brands.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/conflict-detection.js
  angular-v17-modMAT/src/assets/fontawesome/js/conflict-detection.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/fontawesome.js
  angular-v17-modMAT/src/assets/fontawesome/js/fontawesome.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/regular.js
  angular-v17-modMAT/src/assets/fontawesome/js/regular.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/solid.js
  angular-v17-modMAT/src/assets/fontawesome/js/solid.min.js
  angular-v17-modMAT/src/assets/fontawesome/js/v4-shims.js
  angular-v17-modMAT/src/assets/fontawesome/js/v4-shims.min.js
  angular-v17-modMAT/src/index.html
  angular-v17/src/app/components/header/header.component.ts
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/app/components/post-details/post-details.component.ts
  angular-v17/src/app/models/blog-info.ts
  angular-v17/src/assets/fontawesome/js/all.js
  angular-v17/src/assets/fontawesome/js/all.min.js
  angular-v17/src/assets/fontawesome/js/brands.js
  angular-v17/src/assets/fontawesome/js/brands.min.js
  angular-v17/src/assets/fontawesome/js/conflict-detection.js
  angular-v17/src/assets/fontawesome/js/conflict-detection.min.js
  angular-v17/src/assets/fontawesome/js/fontawesome.js
  angular-v17/src/assets/fontawesome/js/fontawesome.min.js
  angular-v17/src/assets/fontawesome/js/regular.js
  angular-v17/src/assets/fontawesome/js/regular.min.js
  angular-v17/src/assets/fontawesome/js/solid.js
  angular-v17/src/assets/fontawesome/js/solid.min.js
  angular-v17/src/assets/fontawesome/js/v4-shims.js
  angular-v17/src/assets/fontawesome/js/v4-shims.min.js
  angular-v17/src/index.html
  angular-v17/src/styles.scss
Labels: 🧩 angular material, ⬜ no UI lib, 🧩 primeng, 🅰️ v17, modules, 🎨 styling, 🔣 icons

#275 feat(all app versions): timen icon changed with open book or most similar icon
  angular-v17-AnguMAT/src/app/components/post-detail/post-detail.component.html
  angular-v17-PrimeNG/src/app/components/post-details/post-details.component.html
  angular-v17-modMAT/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.html
Labels: 🧩 angular material, ⬜ no UI lib, 🧩 primeng, 🅰️ v17, modules, 🔣 icons

#284 feat(v17): popup dialog for the follow button light & dark styles
  angular-v17/src/app/components/header/header.component.html
  angular-v17/src/app/components/header/header.component.ts
  angular-v17/src/app/partials/follow-dialog/follow-dialog.component.html
  angular-v17/src/app/partials/follow-dialog/follow-dialog.component.scss
  angular-v17/src/app/partials/follow-dialog/follow-dialog.component.spec.ts
  angular-v17/src/app/partials/follow-dialog/follow-dialog.component.ts
  angular-v17/src/app/services/modal.service.spec.ts
  angular-v17/src/app/services/modal.service.ts
  angular-v17/src/assets/images/hashnode=logo-white.png
  angular-v17/src/styles.scss
Labels: ☯️ theming, ⬜ no UI lib, 🎨 styling, 🌟feature

#285 feat(anguMAT): query series in header
  angular-v17-AnguMAT/src/app/components/header/header.component.html
  angular-v17-AnguMAT/src/app/components/header/header.component.scss
  angular-v17-AnguMAT/src/app/components/header/header.component.ts
  angular-v17-AnguMAT/src/app/graphql.operations.ts
  angular-v17-AnguMAT/src/app/models/post.ts
  angular-v17-AnguMAT/src/app/services/blog.service.ts
  angular-v17/src/app/components/header/header.component.scss
Labels: GraphGL, 🧩 angular material, apollo angular, 🌟feature

#288 feature(angular-v17): Add a copy button to code snippets Angular v17 native
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/app/components/post-details/post-details.component.ts
  angular-v17/src/app/directives/clipboard-copy-button.directive.spec.ts
  angular-v17/src/app/directives/clipboard-copy-button.directive.ts
  angular-v17/src/styles.scss
Labels: ⬜ no UI lib, code display, 🌟feature

#307 styling(angular-v17): Style links and images in post-details in angular-v17, feature(angular-v17): Implement HTML Sanitizer
  angular-v17/src/app/components/header/header.component.scss
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/app/components/post-details/post-details.component.ts
  angular-v17/src/app/pipes/sanitizer-html.pipe.spec.ts
  angular-v17/src/app/pipes/sanitizer-html.pipe.ts
  angular-v17/src/styles.scss
Labels: ⬜ no UI lib, 🎨 styling, 🌟feature, 🔒 security

#311 feat(v17): og:image meta tags index.html
  angular-v17/src/assets/images/angular-v17-dark-hashnode.jpg
  angular-v17/src/assets/images/angular-v17-light-hashnode.jpg
  angular-v17/src/index.html
Labels: 🖼️ images, ⬜ no UI lib, 🌟feature

#312 feat(v17-angumat): og:image meta tags index.html
  angular-v17-AnguMAT/src/assets/images/angular-v17-angumat-dark-hashnode.jpg
  angular-v17-AnguMAT/src/assets/images/angular-v17-angumat-light-hashnode.jpg
  angular-v17-AnguMAT/src/index.html
Labels: 🖼️ images, 🧩 angular material, 🌟feature

#313 feat(v17-modmat): og:image meta tags index.html
  angular-v17-modMAT/src/assets/images/angular-v17-modmat-dark-hashnode.jpg
  angular-v17-modMAT/src/assets/images/angular-v17-modmat-light-hashnode.jpg
  angular-v17-modMAT/src/index.html
Labels: 🖼️ images, 🧩 angular material, 🌟feature

#314 feat(v17-primeng): og:image meta tags index.html
  angular-v17-PrimeNG/src/assets/images/angular-v17-primeng-dark-hashnode.jpg
  angular-v17-PrimeNG/src/assets/images/angular-v17-primeng-light-hashnode.jpg
  angular-v17-PrimeNG/src/index.html
Labels: 🖼️ images, 🧩 primeng, 🌟feature

#332 feat(angumat, modmat): style code snippets
  angular-v17-AnguMAT/src/styles.scss
  angular-v17-AnguMAT/src/theme.scss
  angular-v17-modMAT/src/styles.scss
  angular-v17-modMAT/src/theme.scss
Labels: code display, 🎨 styling, 🌟feature

#337 feature(angular-v17): Query the blog 'favicon' or 'logo' or 'author image' in header in v17 native
  angular-v17/src/app/components/footer/footer.component.ts
  angular-v17/src/app/components/header/header.component.ts
  angular-v17/src/app/graphql.operations.ts
  angular-v17/src/app/models/blog-info.ts
Labels: 🔣 icons

#346 feat(modmat): html sanitizer
  angular-v17-modMAT/src/app/app.module.ts
  angular-v17-modMAT/src/app/components/post-details/post-details.component.html
  angular-v17-modMAT/src/app/components/post-details/post-details.component.ts
  angular-v17-modMAT/src/app/pipes/sanitizer-html.pipe.spec.ts
  angular-v17-modMAT/src/app/pipes/sanitizer-html.pipe.ts
Labels: 🧩 angular material, modules, 🌟feature, 🔒 security

#345 feat(angular-v17-primeng): search posts in the blog in a dialog
  angular-v17-PrimeNG/src/app/components/header/header.component.html
  angular-v17-PrimeNG/src/app/components/header/header.component.scss
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/components/post-search/post-search.component.html
  angular-v17-PrimeNG/src/app/components/post-search/post-search.component.scss
  angular-v17-PrimeNG/src/app/components/post-search/post-search.component.spec.ts
  angular-v17-PrimeNG/src/app/components/post-search/post-search.component.ts
  angular-v17-PrimeNG/src/app/graphql.operations.ts
  angular-v17-PrimeNG/src/app/services/blog.service.ts
  angular-v17-PrimeNG/src/assets/themes/light.scss
Labels: 🧩 primeng, 🎨 styling, 🌟feature

#347 feat(v17): post details, sidenav, sitefavicon in app.component
  angular-v17-AnguMAT/src/app/components/posts/posts.component.ts
  angular-v17-PrimeNG/src/app/components/posts/posts.component.html
  angular-v17-PrimeNG/src/app/components/posts/posts.component.ts
  angular-v17-modMAT/src/app/components/posts/posts.component.html
  angular-v17-modMAT/src/app/components/posts/posts.component.ts
  angular-v17/src/app/app.component.html
  angular-v17/src/app/app.component.scss
  angular-v17/src/app/app.component.ts
  angular-v17/src/app/app.routes.ts
  angular-v17/src/app/components/footer/footer.component.scss
  angular-v17/src/app/components/header/header.component.ts
  angular-v17/src/app/components/layout/layout.component.html
  angular-v17/src/app/components/layout/layout.component.scss
  angular-v17/src/app/components/layout/layout.component.spec.ts
  angular-v17/src/app/components/layout/layout.component.ts
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/app/components/post-details/post-details.component.ts
  angular-v17/src/app/components/posts/posts.component.html
  angular-v17/src/app/components/posts/posts.component.ts
  angular-v17/src/app/components/sidenav/sidenav.component.html
  angular-v17/src/app/components/sidenav/sidenav.component.scss
  angular-v17/src/app/components/sidenav/sidenav.component.spec.ts
  angular-v17/src/app/components/sidenav/sidenav.component.ts
  angular-v17/src/styles.scss
Labels: GraphGL, ☯️ theming, ⬜ no UI lib, apollo angular, 🎨 styling, 📁 file structure, 🌟feature

#355 feat(primeng): new layout, sidenav, file structure, models, service methods
  CONTRIBUTING.md
  angular-v17-AnguMAT/src/app/components/post-details/post-details.component.html
  angular-v17-AnguMAT/src/app/components/post-details/post-details.component.scss
  angular-v17-AnguMAT/src/styles.scss
  angular-v17-AnguMAT/src/theme.scss
  angular-v17-PrimeNG/src/app/app.component.html
  angular-v17-PrimeNG/src/app/app.component.scss
  angular-v17-PrimeNG/src/app/app.component.ts
  angular-v17-PrimeNG/src/app/app.routes.ts
  angular-v17-PrimeNG/src/app/components/header/header.component.html
  angular-v17-PrimeNG/src/app/components/header/header.component.scss
  angular-v17-PrimeNG/src/app/components/header/header.component.ts
  angular-v17-PrimeNG/src/app/components/layout/layout.component.html
  angular-v17-PrimeNG/src/app/components/layout/layout.component.scss
  angular-v17-PrimeNG/src/app/components/layout/layout.component.spec.ts
  angular-v17-PrimeNG/src/app/components/layout/layout.component.ts
  angular-v17-PrimeNG/src/app/components/post-details/post-details.component.html
  angular-v17-PrimeNG/src/app/components/post-details/post-details.component.scss
  angular-v17-PrimeNG/src/app/components/post-details/post-details.component.ts
  angular-v17-PrimeNG/src/app/components/sidenav/sidenav.component.html
  angular-v17-PrimeNG/src/app/components/sidenav/sidenav.component.scss
  angular-v17-PrimeNG/src/app/components/sidenav/sidenav.component.spec.ts
  angular-v17-PrimeNG/src/app/components/sidenav/sidenav.component.ts
  angular-v17-PrimeNG/src/app/graphql.operations.ts
  angular-v17-PrimeNG/src/app/models/blog-info.ts
  angular-v17-PrimeNG/src/app/models/post.ts
  angular-v17-PrimeNG/src/app/partials/search-dialog/search-dialog.component.html
  angular-v17-PrimeNG/src/app/partials/search-dialog/search-dialog.component.scss
  angular-v17-PrimeNG/src/app/partials/search-dialog/search-dialog.component.spec.ts
  angular-v17-PrimeNG/src/app/partials/search-dialog/search-dialog.component.ts
  angular-v17-PrimeNG/src/app/services/blog.service.ts
  angular-v17-PrimeNG/src/assets/themes/dark.scss
  angular-v17-PrimeNG/src/assets/themes/light.scss
  angular-v17-PrimeNG/src/styles.scss
  angular-v17/src/app/components/post-details/post-details.component.html
  angular-v17/src/app/components/post-details/post-details.component.scss
  angular-v17/src/styles.scss
Labels: 🗎 documentation, GraphGL, ☯️ theming, 🧩 primeng, 🔀 routing, apollo angular, code display, 🎨 styling, 📁 file structure, 🌟feature
